/* Acumin Pro font-family */
@font-face {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Acumin Pro'), url('./fonts/Acumin-RPro.woff') format('woff');
}
@font-face {
    font-family:'Museo';
    font-style: normal;
    font-weight: normal;
    src: local('Museo'), url('./fonts/Museo300-Regular.otf') format('opentype');
}
body {
    margin: 0;
    padding: 0;
    /* font-family: 'Acumin Pro', sans-serif; */
    font-family: 'Museo',serif;
}
h1, h2, h3{
    color: #441E5B;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-center{
    text-align: center;
}
.postlisting{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
.postlisting .side-bar-filter{
    width: 16%;
}
.postlisting .post-data{
    width: 80%;
}
.search-form {
    max-width: 740px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.search-form .post-search {
    /* display: flex; */
    width: 100%;
    /* align-content: center; */
    border-radius: .25rem;
    border-width: 1px;
    border-style: solid;
    border-color: #441E5B;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 1rem;
    font-size: 18px;
    line-height: 30px;
    color: #484646;
    outline: none;
    height: 22px;
    /* font-family: Museo, serif; */
}
.totalpost{
    padding: 15px 0;
    /* margin-left: 5.2rem; */
    color: #404040;
}
.side-bar-filter .filter-heading{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filter-heading .clear-all{
    cursor: pointer;
    background: transparent;
    border: 0;
    color: #441E5B;
    width: auto;
    font-size: 14px;
    line-height: 18px;
    flex: 0 1 auto;
}
.col-post-filter select{
    width: 100%;
    align-content: center;
    border-radius: .25rem;
    border-width: 1px;
    border-style: solid;
    line-height: 30px;
    color: #444;
    outline: none;
    height: 32px;
}

.post-data .post-item{
    margin-bottom: .5rem;
    border-radius: .25rem;
    border: 1px solid #c7c7c7;
    padding: .75rem 1rem;
    transition: all 400ms ease-in-out;
}
.post-data .post-item h3{
    text-decoration: none;
    font-size: 22px;
    line-height: 24px;
    margin: 0;
}

/* pagination */
.postlisting .post-data .post-pagination{
    display: flex;
    align-items: center;
    padding: 30px;
}
.postlisting .post-data .post-pagination .page-numbers.current {
    background: #441E5B;
    color: #fff;
}
/* .postlisting .post-data .post-pagination .current-page{
    color: #441E5B;
    padding: 5px 10px;
} */
.post-data .post-pagination .page-numbers{
    align-items: center;
    border-radius: .125rem;
    font-size: 18px;
    line-height: 18px;
    display: inline-flex;
    justify-content: center;
    color: #404040;
    text-decoration: none;
    padding: 5px 10px;
}

@media only screen and (max-width: 1600px) {
    .container {
        max-width: 1120px;
    }
}